<!--

  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li *ngFor="let tempProductCategory of productCategory">
          <a routerLink="/category/{{tempProductCategory.id}}/{{tempProductCategory.categoryName}}" routerLinkActive="active-link">{{tempProductCategory.categoryName}}</a>
        </li>
       
      </ul>
    </nav>
  </div> 

-->

<!-- You can now use your library component in app.component.html -->

<!-- main slide-->
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <div class="slid-image">
      <img src="../../../assets/img/product03.png" alt="">
    </div>


    <div class="info-container">
      <div class="store">categorie</div>
      <h1> alaoui</h1>
      <h3>mhmd</h3>
      <div class="button_add">
        <a href="#" class="primary-btn">add card</a>

      </div>

    </div>

  </div>
</ngx-slick-carousel>
<!-- main slide-->




<!-- new slide  slide-->

<div class="section">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">New Products</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li *ngFor="let tempProductSubCategory of productSubCategory; let i = index;"  routerLinkActive="active-link">
				  <a routerLink="/home/{{tempProductSubCategory.subCategoryName}}/{{tempProductSubCategory.id}}" routerLinkActive="active-link" >{{tempProductSubCategory.subCategoryName}}</a>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <carousel [cellWidth]="370" [height]="540">

      <div *ngFor="let product of products"  class="carousel-cell">
		  
        <div class="container-tabs">
          <div class="image">
            <img routerLink="/products/{{product.id}}" src="{{product.imageUrl}}" alt="" class="hero-image">
          </div>

          <div class="information">

            <div class="store">{{currentCategoryName}}</div>
            <h3><a routerLink="/products/{{product.id}}" class="product_name">{{product.name}}</a></h3>
            <h3 class="price">{{product.unitPrice}} <del class="old_price">{{product.unitPrice}}DH</del></h3>

          </div>
          <div class="button_add">

            <a routerLink="/products/{{product.id}}" class="primary-btn">CheckOut</a>
          </div>

        </div>

      </div>
    </carousel>
  </div>


</div>
<!-- new slide  slide-->

<!--products jdad-->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div id="container" class="product-nice">
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/product07.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/product08.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/product09.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							

							
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/product01.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							<div class="section-nav">
								<div id="slick-nav-4" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-4">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/product04.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/product05.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/product06.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/product07.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
							</div>

					
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							<div class="section-nav">
								<div id="slick-nav-5" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-5">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/product01.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/product02.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/product03.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
									<!-- product widget -->
									<div class="product-widget">
										<div class="product-img">
											<img src="../../../assets/img/product04.png" alt="">
										</div>
										<div class="product-body">
											<p class="product-category">Category</p>
											<h3 class="product-name"><a href="#">product name goes here</a></h3>
											<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
										</div>
									</div>
									<!-- /product widget -->
	
							</div>

						
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


<!--products jdad-->